@media only screen and (max-device-width: 640px) {
  .nav {
    display: none;
    visibility: hidden;
  }

  .nav-toggler {
    display: block;
    visibility: visible;
  }

  .post-wrapper {
    max-width: 320px;
  }

  .post-grid {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }

  .toc {
    display: none;
    margin-top: 0;
    grid-row-start: 2;
  }

  div.post-banner-tags {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (min-device-width: 641px) {
  .nav {
    display: block;
  }

  .nav-toggler {
    display: none;
    visibility: hidden;
  }

  .nav-mobile {
    display: none;
    visibility: hidden;
  }
}
