@media only screen and (max-device-width: 640px) {
  .nav {
    display: none;
    visibility: hidden;
  }

  .nav-toggler {
    display: block;
    visibility: visible;
  }

  .post-wrapper {
    max-width: 320px;
  }
}

@media only screen and (min-device-width: 641px) {
  .nav {
    display: block;
  }

  .nav-toggler {
    display: none;
    visibility: hidden;
  }

  .nav-mobile {
    display: none;
    visibility: hidden;
  }
}
