---
layout: default
---
{% assign posts = site.posts | where: 'category', page.name %}
<div class="content-wrapper" style="padding-top: 5rem;">
  <div class="post-group">
    <div class="flex flex-vertical-center">
      <h1>{{ page.name }}</h1>
    </div>
    <div class="grid grid-2x2">
      {% for post in posts %}
      <div class="post-banner-bg flex" onclick="window.location.href='{{ post.url }}'">
        <div class="post-banner flex">
          <div class="post-banner-details flex">
            <a href="#" class="post-banner-category">{{ post.category }}</a>
            <div class="post-banner-tags">
              <span># </span>
              {% for tag in post.tags %}
                <a href="#">{{ tag }}</a>
                <span>, </span>
              {% endfor %}
            </div>
          </div>
          <h3 class="post-banner-title">{{ post.title }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
