---
layout: default
---
<div class="post-wrapper" style="padding-top: 5rem;">
  <div class="post-title">
    <h1>
      {{ page.title }}
    </h1>
  </div>
  <div class="post-category">
    <a href="#">{{ page.category }}</a>
    <span> · </span>
    <span># </span>
    {% for tag in page.tags %}
    <a href="#">{{tag}}</a>
    <span>, </span>
    {% endfor %}
    <br>
    <span>{{ page.date | date_to_string }}</span>
  </div>
  <div class="post-content">
    <p>{{ content }}</p>
  </div>
</div>
