---
layout: default
css: 
js:
  - "/public/scripts/toc.js"
  - "/public/scripts/pageJumper.js"
---
<div class="post-grid">
  <div class="toc-wrapper" role="toc">
  </div>
  <div class="post-wrapper">
    {% if page.img %}
      <div class="post-img" style="background-image: url({{ '/public/assets/' | append: page.img }})">
        
      </div>
    {% endif %}
    <div class="post-title">
      <h1>
        {{ page.title }}
      </h1>
    </div>
    <div class="post-category">
      {% for item in site.data.navigation %}
        {% if item.name == page.category %}
          <a href="{{ item.link | relative_url }}" class="link-override">
            {{item.name}}
          </a>
        {% endif %}
      {% endfor %}
      <span> · </span>
      <span>#
      {% for tag in page.tags %}
        {% for t in site.tags %}
          {% if t.name == tag %}
            <a href="{{ t.url | relative_url }}" class="link-override">{{tag}}</a>
          {% endif %}
        {% endfor %}
        {% if forloop.last == true %}
          </span>
        {% else %}
          , 
        {% endif %}
      {% endfor %}
      <br>
      <span>{{ page.date | date: "%b %e, %Y" }}</span>
    </div>
    <div class="post-content">
      <p>{{ content }}</p>
    </div>
  </div>
</div>
