---
layout: default
---
{% assign posts = site.posts %}
<div class="content-wrapper" style="padding-top: 5rem;">
  <div class="post-group">
    <div class="flex flex-vertical-center">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="grid post-grid">
      {% for post in posts %}
        {% if post.tags contains page.name%}
        <div class="post-banner-bg flex" onclick="window.location.href='{{ post.url | relative_url }}'"
        style="{% if post.img %} background-image: url({{ '/public/assets/' | append: post.img | relative_url }}); background-repeat: no-repeat; background-size: cover; {% else %} {% if post.bgcolor %} background: {{ post.bgcolor }}; {% else %} background: aliceblue; {% endif %}  {% endif %} {%if post.color %} color: {{post.color}}; {% endif %}">
            <div class="post-banner flex {% if post.img %} overlay {% endif %} ">
              <div class="post-banner-details flex">
                {% for item in site.data.navigation %}
                  {% if item.name == post.category %}
                    <a href="{{ item.link | relative_url }}" class="post-banner-category">
                      {{ item.name }}
                    </a>
                  {% endif %}
                {% endfor %}
                <div class="post-banner-tags">
                  <span># </span>
                  {% for tag in post.tags %}
                    {% for t in site.tags %}
                      {% if t.name == tag %}
                        <a href="{{ t.url | relative_url }}">{{ tag }}</a>
                      {% endif %}
                    {% endfor %}
                    {% if forloop.last == true %}
                      <span></span>
                    {% else %}
                      <span>, </span>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <h3 class="post-banner-title">{{ post.title }}</h3>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
